<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>호랑이</string>
	<string>토끼</string>
	<string>여우</string>
	<string>곰</string>
	<string>고양이</string>
	<string>강아지</string>
	<string>수달</string>
	<string>판다</string>
	<string>코알라</string>
	<string>사슴</string>
	<string>늑대</string>
	<string>햄스터</string>
	<string>고슴도치</string>
	<string>기린</string>
	<string>코끼리</string>
	<string>사자</string>
	<string>치타</string>
	<string>펭귄</string>
	<string>돌고래</string>
	<string>고래</string>
	<string>라쿤</string>
	<string>비버</string>
	<string>카피바라</string>
	<string>알파카</string>
	<string>부엉이</string>
	<string>독수리</string>
	<string>앵무</string>
	<string>문어</string>
	<string>해달</string>
	<string>다람쥐</string>
	<string>몽이</string>
</array>
</plist>
